<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Gráficos</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/grafico-aranha" routerLinkActive="active">Araña</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/grafico-barra" routerLinkActive="active">Barra</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/grafico-dona" routerLinkActive="active">Dona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/grafico-lineal" routerLinkActive="active">Lineal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/grafico-pastel" routerLinkActive="active">Pastel</a>
      </li>
      <li class="nav-item">
          <a class="nav-link " routerLink="/grafico-radar" routerLinkActive="active">Radar</a>
        </li>
    </ul>
  </div>
</nav>